body {
    font-family: 'Bitter', serif;
}


section {

    background-color: rgb(255, 255, 255);
}

.hero {
    background-color: #6f9270;
    height: 100vh;
    color: aliceblue;
    font-size: 40px;
}

footer {
    background-color: rgb(252, 239, 239);
    height: 500px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 50px;
    margin: 0px ;
}

p {
    margin: 0;
    font-weight: 200;
    font-size: 20px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.hero-text {
    margin-left: 60px;
    margin-bottom: 200px;
}

.button {
    width: 150px;
    height: 35px;
    border-radius: 25px;
    background-color: rgb(204, 134, 236);
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    margin-top: 20px;
}   
.button:hover {
    background-color: rgb(226, 174, 245);
}
.button:active {
    background-color: rgb(122, 81, 142);
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}
h2 {
    font-size: 20px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    margin-left: 80px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(197, 195, 195);
    margin: 20px;
    padding: 20px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}